.a4 {
    width: 210mm;
    background: #fff;
    margin: auto;
}
.container {
    padding: 28px 18px 28px 18px;
}

.fa {
    color: #1667C7;
}

.hyperlinks {
    color: #000;
}

.no-underline {
    text-decoration: none;
}

.hyperlinks-white {
    color: #fff;
}

.ul-remove-padding-margin {
    padding-left: 0;
    margin-top: 0;
}

.header-section {
  display: grid;
  grid-template-columns: 55% 10% 35%;
}

.header-section-left > .name-title {
    font-size: 40px;
    font-weight: 400;
    color: #1666c7;
}

.name-subtitle {
    color: #737373;
    font-size: 18px;
}

.header-section-left > .about {
    font-size: 10px;
    font-weight: 300;
    font-style: italic;
    height: 48px;
}

.header-section-right {
    margin-top: 5px;
}

.header-section-right > .contact {
    font-size: 10px;
    font-weight: 300;
}

.header-section-right > .contact > .contact-item {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 20px;
    text-align: right;
}

.header-section-right > .social {
    margin-top: 10px;
    font-size: 10px;
    font-weight: 300;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
}

.header-section-right > .social > .social-item {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20px;
}

.body-section {
    padding-top: 5px;
    display: grid;
    grid-template-columns: 50% 5% 45%;
    grid-template-rows: auto;
}

.work-title,
.education-title,
.volunteer-title,
.project-title,
.skills-title,
.languages-title,
.patent-title,
.publication-title,
.talks-title {
    font-size: 30px;
    font-weight: 400;
    color: #1666c7;
}

.work-card-row-split, .education-card-row-split, .volunteer-card-row-split {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
}

.work-card-role, .education-card-role, .volunteer-card-role, .talk-card-name {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}

.education-card-row-org {
    width: 60%;
}


.work-card-org, .education-card-org, .volunteer-card-org, .talk-card-location {
    font-size: 15px;
    font-weight: 400;
}

.project-card-name, .patent-card-name, .publication-card-name {
    font-size: 15px;
    width: 80%;
    color: #000;
    font-weight: 300;
}

.language-card-name {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    padding: 10px 0 0 0;
}

.title-banner {
    background: #1667C7;
    border-radius: 2px;
    color: #fff;
    font-size: 9px;
    font-weight: 400;
    font-style: italic;
    padding: 2px 5px 2px 5px;
    text-align: center;
    vertical-align: text-top;
    margin-top: 1px;
}

.skill-card-blue {
    background: #1667C7;
    border-radius: 2px;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    padding: 2px 5px 2px 5px;
    text-align: center;
    margin: 0 5px 0 5px;
}

.skill-card-grey {
    background: #737373;
    border-radius: 2px;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    padding: 2px 5px 2px 5px;
    text-align: center;
    margin: 0 5px 0 5px;
}

.title-banner-grey {
    background: #737373;
    border-radius: 2px;
    color: #fff;
    font-size: 9px;
    font-weight: 400;
    font-style: italic;
    padding: 2px 5px 2px 5px;
    text-align: center;
    vertical-align: text-top;
    margin-top: 1px;
}

.work-card-location, .work-card-timeline,
.education-card-location, .education-card-timeline,
.volunteer-card-location, .volunteer-card-timeline  {
    font-size: 9px;
    font-weight: 400;
    color: #737373;
    text-align: right;
}

.work-card-row, .education-card-row, .volunteer-card-row, .project-card-row, .patent-card-row, .publication-card-row, .talk-card-row {
    font-size: 9px;
    font-weight: 300;
    color: #737373;
}

.work-card-history {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
}

.work-card-history .past-roles {
    font-size: 9px;
    font-weight: 400;
}

.work-card-history .past-role-titles {
    font-size: 9px;
    font-weight: 300;
}

.spacer-sub-margin {
    height: 4px;
    width: 40%;
    background: #1667C7;
    margin: 5px 0 5px 0;
    border-radius: 0 5px 5px 0;
}
.spacer-margin {
    height: 4px;
    width: 90%;
    background: #1667C7;
    margin: 5px 0 5px 0;
    border-radius: 0 5px 5px 0;
}
